:root {
  --vp-c-brand-1: #646cff;
  --vp-c-brand-2: #747bff;
}

img:not(.logo) {
  display: block;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;

  &[left] {
    margin-left: 0;
  }

  &[right] {
    margin-right: 0;
  }
}
