:root {
  --vp-c-brand-1: #646cff;
  --vp-c-brand-2: #747bff;
  --vp-home-hero-image-background-image: linear-gradient(-10deg,rgba(0, 54, 74, 1) 0%, rgba(227, 32, 21, 1) 26%, rgba(0, 54, 74, 1) 51%);
  --vp-home-hero-name-background: linear-gradient(45deg,rgba(0, 54, 74, 1) 0%, rgba(227, 32, 21, 1) 25%, rgba(227, 32, 21, 1) 67%, rgba(0, 54, 74, 1) 100%);
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-image-filter: blur(60px);
}

img:not(.logo) {
  display: block;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;

  &[left] {
    margin-left: 0;
  }

  &[right] {
    margin-right: 0;
  }
}
